<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: "Error"}); %>
    <link rel="stylesheet" type="text/css" href="/styling/index.css">
</head>
<body>
    <%- include('partials/header', {title: "Error"}) %>
    <div id="main-div">
        <h1 id="title">404 Error</h1>
        <p>Ehhh... wat?</p>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>