<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: "Home"}); %>
    <link rel="stylesheet" type="text/css" href="/styling/index.css">
</head>
<body>
    <%- include('partials/header') %>
    <div id="main-div">
        <h1 id="title">Budget App Name</h1>
        <p>So you went to go make a purchase and found out your card was declined. Thinking this to be a mistake on the vendors end, you errupt and storm out of the shop. Good ridance!</p>
        <p>Upon returning to your car, you get this nagging feeling that maybe, just maybe, it might not actually be their fault...</p>
        <p>Pulling out your trusty smart phone, you go to your banking app to view your funds. Low and behold...</p>
        <p>Now you need a way to track your expense and keep track of how much you're spending so you don't run into this embarrassing situation! (don't worry, we won't tell anyone)</p>
        <p>This is where we come in! We can help you take command of your finances.</p>
        <p>Remember; you are awesome! We want you to continue being awesome, just with a little more dough ;)</p>
        <img src="/images/thumbsup.gif" alt="Thumbs Up" id="thumbs-up-gif">
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>