<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: "Success"}); %>
    <link rel="stylesheet" type="text/css" href="/styling/index.css">
</head>
<body>
    <%- include('partials/header', {title: "Success"}) %>
    <div id="main-div">
        <h1 id="title">Successfully Logged in!</h1>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>